.tituloserviços {
    font-family: 'Work Sans', sans-serif;
    margin-left: 120px;
    margin-top: 200px;
    color: #1e8793;
    font-size: 45px;
    line-height: 55px;
    line-height: 95%;
    letter-spacing: -5%;
    vertical-align: top;
  }
  
  .serviçostitulos {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
  }
  
  .serviçostextodentro {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
  }
  
  .posição1 {
    top: 40%;
    right: 15%;
    position: absolute;
  }
  
  .titulosclientes {
    margin-top: 200px;
    margin-left: 120px;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    line-height: 58px;
    line-height: 95%;
    letter-spacing: -5%;
    vertical-align: top;
    color: #1e8793;
  }
  
  .bolinhas {
    text-align: center;
  }
  
  .bola {
    width: 532px;
    height: 532px;
    padding: 2.5%;
  }
  
  .retanguloserviços {
    width: 300;
    height: 305;
    padding: 2.5%;
  }

  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.doapedi{
  width: 250px;
  height: 245px;
  border-radius: 122.5px;
  background: #C1C0C0;
}

.brabuleta{
  position: absolute;
  width: 250px;
  height: 245px;
  border-radius: 271.5px;
}

.fotoantiga{
  width: 250px;
  height: 258px;
  border-radius: 272.5px;
}

.textodentrodasbola{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #030303;
}