@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #00A38F;
}

section:not(#nossosvalores) {
    min-height: 100vh;

}

/*Início ------------------------------------------------------------------------------*/

#inicio {
    background-color: #00A38F;

}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 60;
}

.ecomp {
    color: #FFFFFF;
    position: relative;
    left: 370px;
}

.imagem1 {
    position: relative;
    margin-top: 100px;
    left: 80px;
}

.textomaiorinicio {
    font-family: Poppins;
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 200px;
}

.textomenorinicio {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 50px;
}

.botao1 {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #C1C0C0;
    position: relative;
    background-position: center;
    margin-top: 90px;
    left: 330px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image: url('SetaEsquerda.png'), url('Barra\ da\ seta.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 10px, 15px;
}

.botao2 {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #00000040;
    position: relative;
    background-position: center;
    margin-top: 60px;
    left: 370px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image: url('SetaDireita.png'), url('BarraDireita.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 28px, 10px;
}

.layout a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700px;
    margin-left: 70px;
    line-height: 32px;
    size: 18px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

#imagem {
    background-color: #00A38F;
}

/*Quem somos ------------------------------------------------------------------------*/

#quemsomos {
    background-color: white;
}

.segundaim {
    position: relative;
    margin-top: 200px;
}

.Tquemsomos {
    margin-top: 200px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #1E8793;
}

.textoqm {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400px;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
    position: relative;
    margin-top: 200px;
}

/*Nossos valores ---------------------------------------------------------------------------------------------------*/

#nossosvalores {
    background-color: white;
    min-height: none;
}

#nossosvalores > h2 {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 70px 30px 40px 10%;

    font: normal 700 45px 'Poppins', sans-serif;
    color: #1E8793;
    letter-spacing: -0.04em;
}

#nv-box {
    background-color: #00A38F;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    border-radius: 30px;
    width: 100vw;
    margin-left: -10px;
}

.nv-box-box {
    padding-bottom: 15px;
}

.nv-box-box > p,
.nv-box-box > h3 {
    text-align: center;
    justify-content: center;
}

.nv-box-box > p {
    font-family: 400 18px 'Poppins', sans-serif;
    color: white;
}

.nv-box-box > h3 {
    margin: 20px 0px;
    font: 700 28px 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.nv-box-box > img {
    background-color: white;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

/*O que somos ------------------------------------------------------------------------------------------------------*/

#oquesomos {
    background-color: white;
    min-height: auto;
}

#oquesomos > h2 {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 90px 30px 20px 10%;
    font: normal 700 45px 'Poppins', sans-serif;
    color: #1E8793;
    letter-spacing: -0.04em;    
}

#oqs-box1 {
    padding-bottom: 40px;   
}

#oqs-box1 > div {
    margin: 0 auto;
    padding-top: 60px;
}

#oqs-box1 > div > p {
    padding: 0px 20px 20px 40px;
    font: 400 18.5px 'Poppins', sans-serif;
}

#oqs-box1 > img {
    width: 60vw;
    max-width: 560px;
    margin: auto;
    padding: 40px 30px;
}


#oqs-box2 {
    background-color: #00A38F;
    padding-bottom: 20px;
}

#oqs-box2 > img {
    margin: auto;
    padding: 0px 60px;
    padding-bottom: 40px;
    max-width: 900px;
}

#oqs-box2 > p {
    margin: auto;
    padding: 20px 50px;
    font: 300 18.5px 'Poppins', sans-serif;
    color: white;
}

/*Serviços ---------------------------------------------------------------------------------------------------------*/

#serviços {
    background-color: white;
}

.ParaServiços {
    font: normal 700 45px 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    text-align: left;
    color: #1E8793;
    margin-top: 60px;
    position: relative;
}

.quadro1 {
    position: relative;
    margin-top: 50px;
    right: 120px;
    height: 305px;
    width: 541px;
}

.quadro2 {
    position: relative;
    left: 30px;
    margin-top: 70px;
    height: 305px;
    width: 541px;
}

.quadro3 {
    position: relative;
    margin-top: 50px;
    left: 240px;
    height: 305px;
    width: 541px;
}

/*Clientes & Portfólio --------------------------------------------------------------------------------------------*/

#clientes {
    background-color: white;
}

.ClientesEport {
    font: normal 700 45px 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    text-align: left;
    color: #1E8793;
    position: relative;
}

.bola1 {
    position: relative;
    width: 382px;
    height: 382px;
}


.port {
    position: relative;
    margin-top: -430px;
    left: 40px;
    width: 300px;
    height: 200px;
}

.bola2
{
    position: relative;
    width: 382px;
    height: 382px;
}

.port2
{
    position: relative;
    margin-top:-400px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    left: 60px;
    margin-top: -410px;
}

.bola3
{
    position: relative;
    width: 382px;
    height: 382px;
    margin-top: 130px;
    right: 50px;
}

.port3
{

    position: relative;
    margin-top: -400px;
    width: 250px;
    height: 250px;
    right: -10px;

}

.bola4
{
    position: relative;
    width: 382px;
    height: 382px;
    margin-top: 10px;
    right: 50px;
}

.port4
{
    position: relative;
    margin-top:-400px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    left: 0px;
    margin-top: -410px;
}




/*Contato --------------------------------------------------------------------------------------------------------- */

#contato {
    background-color: white;
}

.ParaContato {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #1E8793;
    margin: 60px 0;
    position: relative;
    right: 80px;
}

.all {
    color: #1E8793;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 2vw;
}

.nome,.email,.telefone,.mensagem {
    padding-bottom: 15px;
}

.input_nome,.input_email,.input_telefone{
    margin-bottom: 40px;
    height: 60px;
    width: 300px;
    border-radius: 15px;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.nome_e_telefone{
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.email_e_mensagem {
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.nome_e_input {
    display: flex;
    flex-direction: column;
}

.telefone_e_input {
    display: flex;
    flex-direction: column;
}

.email_e_input {
    display: flex;
    flex-direction: column;
}

.mensagem_e_input {
    display: flex;
    flex-direction: column;
}

.input_mensagem {
    outline: 0;
    height: 155px;
    width: 400px;
    border-radius: 15px;
}

.button-contato{
    font-weight: bold;
    color: white;
    background-color: #1E8793;
    padding: 1.4rem 5rem;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
}

/* Footer ----------------------------------------------------------------------------------------------------------*/

.footer{
    height: 1000px;
    width: 100vw;
}

.container-footer {
    margin-left: 15vw;
    margin-top: 12vh;
    margin-right: 15vw;
}

.linkedin,.facebook,.instagram {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.linkedin_logo_texto,.facebook_logo_texto,.instagram_logo_texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.texto_footer,.endereco{
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
}

.seta_para_cima {
    height: 46;
    width: 46;
    margin-left: 85vw;
    margin-top: -400px;
}

.endereco_container {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    padding-top: 10px;
}

.localizacao_container {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    padding-top: 10px;
    padding-right: 23px;
}

.contato_container {
    padding-right: 50px;
}

.logo_ecomp {
position: relative;
    top: -300px;
    left: 400px;
}