

*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    overflow-x: hidden;

}

#inicio{
    background-color: #00A38F;

}


section{
    min-height: 100vh;

}


nav{
    background-color: #00A38F;
    left: 300px;

}



.navbar-nav .nav-link{
    color: white;
    margin-right: 60px;
    font-family: Poppins;
    font-weight: 700px;
    font-size: 18px;
    font-style: normal;
}



#imagem{
    background-color: #00A38F;
}

#quemsomos{
    background-color: white;
}

#nossosvalores{
    background-color: white;
}

body{
    background-color: #00A38F;
}


.nav{
    background-color: rgba(0, 0, 0, 0);
}

#oquesomos{
    background-color: white;
}

#serviços{
    background-color: white;
}

#clientes{
    background-color: white;
}

#contato{
    background-color: white;
}


.Qmsomos-texto {
    font-weight: bold;
    color: #1E8793;
    font-size: 3rem;
    margin-top: 20rem;
    margin-left: 8rem;
}

.imagem-ecomp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}